<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyou.dao.SpeakerDao">

	<cache type="com.zhiyou.redis.RedisCache"/>
	
	<select id="selectAll" resultType="speaker">
		select * from speaker
	</select>
	
	<insert id="add" parameterType="speaker">
		insert into speaker values(#{id},#{speaker_name},#{speaker_desc},#{speaker_job},#{head_img_url})
	</insert>
	
	<delete id="delete" parameterType="speaker">
		delete from speaker where id=#{id}
	</delete>
	
	<delete id="deleteAll" parameterType="speaker">
		delete from speaker where id in
		<foreach collection="array" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</delete>
	
	<select id="selectByID" resultType="speaker">
		select * from speaker where id=#{id}
	</select>
	
	<update id="update" parameterType="speaker">
		update speaker set 
		speaker_name=#{speaker_name},speaker_desc=#{speaker_desc},speaker_job=#{speaker_job},head_img_url=#{head_img_url}
		where id=#{id}
	</update>

</mapper>